<!-- <form class="text-center">
  <div class="row">
<div class="col-md-12">
  <h2 class = "title">Registration</h2>
</div>
</div>
  <form #f="ngForm" class="my-form" novalidate (ngSubmit)="onSubmit(f)">
   <div class="my-div">
  <div class="form-group">
    <input
      type="text"
      class="input"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
      id="login"
      name ="login"
      ngModel
      #emailref="ngModel"
      placeholder="Email"
    />
    <div
      *ngIf="emailref.errors && (emailref.touched || emailref.dirty)"
      class="aler alert-danger"
    >
      <div class="valid" [hidden]="!(emailref?.errors)['pattern']">
        Email must be a valid email address
      </div>
    </div>
  </div>
</div>
<div class="my-div2">
  <input
    class="input"
    type="password"
    required
    id="password"
    name="password"
    placeholder="Password"
    ngModel
  />
 </div>
 <div class="my-div5">
  <button
    type="submit"
    class="btn bnt-primary"
    [disabled]="f.invalid || isRequesting"
  >
    Sing Up
  </button>
</div>
<div class="my-div6">
  <button routerLink="/login" class="btn btn-link">Sing in</button>
</div>
</form> -->

<body>

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <form #f="ngForm" class="login100-form validate-form p-l-55 p-r-55 p-t-178" novalidate (ngSubmit)="onSubmit(f)">
          <span class="login100-form-title">
            Sign Up
          </span>

          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
            <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="login" name="login" ngModel class="input100"
              type="text" placeholder="login">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Please enter password">
            <input type="password" required id="password" name="password" placeholder="Password" ngModel
              class="input100" type="password" placeholder="Password">
            <span class="focus-input100"></span>
          </div>

          <div class="container-login100-form-btn">
            <button [disabled]="f.invalid || isRequesting" onsubmit="onSubmit()" class="login100-form-btn">
              Sign Up
            </button>
          </div>
          <div class = "sing-in-Button">
          <div class="container-login100-form-btn">
            <button routerLink="/login"  class="login100-form-btn">
              Sign In
            </button>
          </div>
        </div>
          <div class="flex-col-c p-t-170 p-b-40">
            <span class="txt1 p-b-9">
              Don’t have an account?
            </span>

            <a href="#" class="txt3">
              Sign up now
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <script src="vendor/animsition/js/animsition.min.js"></script>
  <script src="vendor/bootstrap/js/popper.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="vendor/select2/select2.min.js"></script>
  <script src="vendor/daterangepicker/moment.min.js"></script>
  <script src="vendor/daterangepicker/daterangepicker.js"></script>
  <script src="vendor/countdowntime/countdowntime.js"></script>
  <script src="js/main.js"></script>

</body>
