<body class="overlay">
  <mat-dialog-content class="mat-typography">
      <h4>Update Product</h4>
      <form [formGroup]="formGroup">
      <div class="from-body">
        <input type="text" class="myForm" placeholder="Name" formControlName="name"
        [ngModel]="product.Name"/>
      </div>
      <div class="from-body">
        <input type="text" class="myForm" placeholder="Price" formControlName="price"
        [ngModel]="product.Price" />
      </div>
      <div class="from-body">
        <input type="text" class="myForm" placeholder="SKU" formControlName="SKU"
        [ngModel]="product.SKU"/>
      </div>
      <button (click)="onSubmit()" type="submit" class="btn">
        Update
      </button>
      <button class = "btn"  type="button" mat-dialog-close
      >
        Cancel
      </button>
    </form>
  </mat-dialog-content>
  </body>
