.body {
  margin-left: 37%;
  margin-top: 5%;
  text-align: center;
}
.body-div{
  border: 2px double rgb(138, 208, 236);
  background-color: #7cf8d5;
  width: 22%;
}
.create-heading{
  font-size: 31px;
  font-family: -webkit-body;
}
.create-button{
  margin-top: 15%;
}
.delivery-heading{
  margin-top: 10%;
}
