<form class="body" [formGroup]="formGroup">
  <div class="body-div">
    <h1 class = "create-heading">Create Order</h1>
    <div class="from-body">
      <h1 class ="delivery-heading">Delivery address</h1>
      <input class="addressInput" formControlName="address">
    </div>
    <div class="type"> <h1>Choose delivery:</h1>
          <select placeholder ="Type" name="deliyvery" formControlName="delivery">
            <option [value]="0">NovaPoshta</option>
            <option [value]="1">UkrPoshta</option>
            <option [value]="2">InTime</option>
          </select>
        </div>
    <div class = "create-button">
    <button (click)="onSubmit()" type="submit" class="btn">Create Order </button>
  </div>
  </div>
</form>
