.mat-button{
  color: white;
  background-color: #fff5f57d;
  width: 6%;
  padding: 15px ;}

.btn.purple-gradient{
color: black
}
.matMenu{
  border-radius: 13%;
  color: rgba(54, 0, 255, 0.9);
}
.mat-menu-content {
  background-color: 'red' !important;
}
.div-menu{
  border: 4px  rgb(4, 6, 7);
  background-color: rgba(106, 130, 234, 0.8);
  height: 8%;
}
.btn-rounded { border-radius: 31.125rem;
}
.admin{
  display: inline;
}
.logout{
display: inline;
margin-left: 64%;
}
.basket{
display: inline;
margin-left: 2.5%;
}
