<div class="div-menu">
  <button mdbBtn type="button" mdbWavesEffect gradient="purple" rounded="true" [matMenuTriggerFor]="menu">
    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/account']">

      <span class="glyphicon glyphicon-user"></span>
      Account</button>
  </mat-menu>
  <div class = "admin" *ngIf="manager">
    <button (click)="openAdminPage()" mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect>Admin</button>
  </div>
  <div class = "admin">
    <button [routerLink]="['/product']" mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect>Products</button>
  </div>
  <div class = "basket">
    <button (click)="openBasket()" mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect>
      <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
    <span class="glyphicon glyphicon-shopping-cart"></span>
    </button>
  </div>
  <div class = "logout">
    <button mdbBtn type="button" gradient="purple" rounded="true" mdbWavesEffect
        (click)="Logout()">
        <span class="glyphicon-log-out"></span>
        Logout
      </button>
    </div>
</div>

