<form class="text-center">
  <div class="row">
    <mat-card class="card-div" *ngFor="let order of orderList">
      <div class=card-div1>

        <div>Address: {{order.Address}}</div>
        <button (click) = "delete(order.Id)" class=btn>Delete</button>
        </div>
    </mat-card>
  </div>
</form>
