<form class="text-center">
  <div class="row">
    <mat-card class="card-div" *ngFor="let product of productList">
      <div class=card-div1>
        <div>Name: {{product.Name}}</div>
        <div>Price: {{product.Price}} $</div>
        <div>SKU: {{product.SKU}}</div>
        <div>ProductType: {{product.TypeProduct}}</div>
        <button (click) = "openUpdateProduct(product)" class="btn purple-gradientS">Edit</button>
        <button  (click) = "deleteProduct(product.Id)" class=btn>Delete</button>
        </div>
    </mat-card>
  </div>
</form>
