.card-div{
  margin-top: 1.5%;
  margin-left: 3%;
  border: 2px  rgb(0, 0, 0);
  background: rgba(193, 193, 193, 0.55);
  width: 175px;
  margin-bottom: 1%;
  display: -webkit-inline-box;
  padding: 8px 1px;
  font-size: 5px;
  line-height: 1.3;
}

.card-div1 {
  font-weight: 500;
  font-size: 17px;
  color: #f01d1d;
  color: rgb(128, 0, 191);
  text-align: -webkit-left;
}
.row{
  margin-right: 15%;
  margin-top: 2%;
}


