  <app-menu></app-menu>
  <div class="wind">
      <a class="header">Admin Page</a>
      <div class="row">
        <div class="my-div1">
          <h1 class="text">Editing Products</h1>
          <button
            mdbBtn
            type="button"
            gradient="peach"
            rounded="true"
            mdbWavesEffect
            (click)="onClickProductButton()"
            >
            Show Products
          </button>
          </div>
          <div>
          <button
          mdbBtn
            type="button"
            gradient="peach"
            rounded="true"
            mdbWavesEffect
          (click)="openCreateProduct()"
         >
           Add Products
        </button>
      </div>
      <div class="my-div2">
        <h1 class="text2">Editing Orders</h1>
        <button
        mdbBtn
        type="button"
        gradient="peach"
        rounded="true"
        mdbWavesEffect
        (click)="onClickOrderButton()"
        >
        Show Orders
      </button>
        </div>
      </div>
  </div>
  <div *ngIf="isOpenProductView" style="display: inline-block; width: 80%;">
    <app-edit-product></app-edit-product>
  </div>
  <div *ngIf="isOpenOrderView" style="display: inline-block; width: 80%;" >
  <app-edit-order></app-edit-order>
  </div>


