.myForm {
  position: relative;
  height: 92%;
}
.myForm2 {
  height: 10%;
  background-color: #226f8d;
}
.btn {
  background-color:#923ebfd1;
}
.wind {
  height: 100%;
  width: 11.5%;
  background: #ace2d5c9;
  text-align: -webkit-center;
  display: inline-block; vertical-align: top;
}
.h1,
h1 {
  font-size: 1.3rem;
  color: navy;
  margin-top: 25%;
}
.row {
  display: unset;
}
.header {
  font-family: "Times New Roman", Times, serif;
  font-size: 180%;
  margin-top: 15%;
 display: table;
 color: #5b59e4;
}
.mat-dialog-content{
  display: block;
    margin: 95px 17px;
    padding: 0px 16px;
    max-height: 84vh;
    overflow: auto;
    margin-left: 8%;
}
.text {
font-family: monospace;
font-size: 2.1rem;
color: navy;
font-weight: 600;
margin-top: 15%;
}
.text2{
  margin-top: 5%;
  font-family: monospace;
  font-size: 2.1rem;
  color: navy;
  font-weight: 600;
  margin-top: 25%;
}
.btn.peach-gradient {
border-radius: 31.125rem;
margin-top: 2%;
width: 91%;
}
