<app-menu></app-menu>
<mat-card class="card-div" *ngFor="let shipment of shipmentList">
  <div class=card-div1>
    <div>Product: {{shipment.ProductList}}</div>
    <div>Status Description: {{shipment.StatusDescription}}</div>
    <div>Type Delivery: {{shipment.Delivery}}</div>
    <div>Order Status: {{shipment.OrderStatus}}</div>
  </div>
</mat-card>
