.card-div{
  margin-top: 1.5%;
  margin-left: 3%;
  border: 4px double rgb(138, 208, 236);
  background: rgba(243, 197, 255, 0.55);
  width: 195px;
  margin-bottom: 1%;
  display: -webkit-inline-box;
  padding: 8px 1px;
  font-size: 5px;
  line-height: 2.128571;
}
.card-div1 {
  font-weight: 500;
  font-size: 17px;
  color: #f01d1d;
  color: rgb(128, 0, 191);
}
.matMenu{
  border-radius: 13%;
  color: rgba(54, 0, 255, 0.9);
}
.mat-menu-content {
  background-color: 'red' !important;
}
.div-menu{
  border: 4px  rgb(4, 6, 7);
  background-color: rgba(106, 130, 234, 0.8);}
.mat-button{
  color: white;
  background-color: #fff5f57d;
  width: 6%;
  padding: 15px ;}

.btn.purple-gradient{
color: black
}
