<div class="overlay">
  <mat-dialog-content class="mat-typography">
    <div class="title">Order Basket</div>
    <div class="warning" *ngIf="basketIsEmpty">Your Basket is empty</div>

    <mat-card class="my-div" *ngFor="let product of orderProductList">
      <div class="my-div1">Name:{{ product.Name }}</div>
      <div class="my-div1"> Type: {{ product.TypeProduct }}</div>
      <div class="my-div3">Price: {{ product.Price }}$</div>
      <div class="quantity-div"> Quantity:<div class = "quantity">x{{ product.Quantity }}</div></div>
    </mat-card>
    <p class="total">Total Price: {{ orderTotalPrice }}$</p>
    <mat-dialog-actions>
      <button
      mat-dialog-close
      mdbBtn
      type="button"
      color="success"
      mdbWavesEffect
      [routerLink]="['/order']"
    >
      Order
    </button>
      <button
        mat-dialog-close
        mdbBtn
        type="button"
        color="success"
        mdbWavesEffect
      >
        Cancel
      </button>
      <button
        (click)="deleteItem()"
        mdbBtn
        type="button"
        color="danger"
        mdbWavesEffec
      >
        Remove Order
      </button>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
