.overlay {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.mat-typography {
  background: rgba(135, 241, 255, 0.808);
  margin-top: 20px;
  width: 60%;
  margin-left: 18%;
  border: 3px #cccccc solid;
  border-radius: 20px;
  max-height: 120vh;
  height: 82%;
  padding: 50px 110px;
}
.my-div {
  border: 2px double rgba(210, 219, 218, 0.64);
  background: rgb(132, 240, 240);
  padding: 25px;
  width: 145px;
  margin-top: 5%;
  margin-left: 2%;
  word-wrap: break-word;
  display: inline-block;
  padding: 0px 15px;
  line-height: 2.428571;
}
.my-div2 {
  border: 4px double rgb(138, 208, 236);
  background: rgb(132, 240, 240);
  padding: 20px;
  width: 290px;
  font-size: 16px;
  word-wrap: break-word;
  display: inline-block;
  padding: 30px 25px;
}

.btn-lg {
  font-size: 12px;
  background-color: #b9d6d8;
  color: #333;
  border-color: #b9d6d8;
}
.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 280%;
  margin: auto;
  text-align: center;
  color: rebeccapurple;
}
.enlarge {
  width: 20%;
}
.wrapper {
  display: flex;
}
.left {
  width: 20%;
}
#right {
  flex: 2;
  margin-left: 20px;
  width: 10%;
  font-size: 17px;
}
.my-div3 {
  font-weight: 500;
  font-size: 16px;
  color: #f01d1d;
}
.my-div1 {
  font-weight: 500;
  font-size: 15px;
  display: inherit;
  color: #f01d1d;
  color: rgb(128, 0, 191);
  width: 100%;
}
.warning {
  font-family: "Times New Roman", Times, serif;
  font-size: 250%;
  margin: auto;
  text-align: center;
  color: #da212186;
}
.btn-sm {
  font-size: 2.2rem;
}
.mat-dialog-conten {
  max-height: 50vh;
}
.mat-dialog-actions{
  margin-top: 28%;
}
.warning{
  margin-top: 10%;
}
.quantity{
  display: inline;
  border: 3px #0000008f solid;
  margin-left: 22%;
}
.total{
  font-weight: bold;
  font-size: 23px;
  color: #f01d1d;
  padding: 15px;
  margin-left: -12px;
}
.quantity-div{
  font-weight: 500;
  font-size: 15px;
  display: inherit;
  color: rgb(191, 0, 0);
  width: 113%;
}
