
<app-menu></app-menu>
<body class="body">
  <mat-card class="card-div" *ngFor="let product of productList">
    <div class=card-div1>
      <div>Name: {{product.Name}}</div>
      <div>Price: {{product.Price}} $</div>
      <div>SKU: {{product.SKU}}</div>
      <div>ProductType: {{product.TypeProduct}}</div>
      <button class = "btn" (click) = "addToOrder(product)">Add</button>
    </div>
  </mat-card>
</body>
