<app-menu></app-menu>

<body class="background">
  <div class="from-body2">

    <body class="image"></body>
    <div class="person-title">Personal Information</div>
    <div class="spaceManager2">
      <div class="exist-title">First Name</div>
      <div class=fields>{{account.FirstName}}</div>
      <div class="exist-title1">Last Name</div>
      <div class=fields>{{account.LastName}}</div>
      <div class="exist-title3">Email</div>
      <div class="fields">{{account.Email}}</div>
      <div class="picture">
        <img class="enlarge" src="{{ account.Picture }}" alt="image" width="50%" />
      </div>
    </div>
  </div>

  <div class="createGroup" [formGroup]="formGroup">
    <div class="from-body">
      <div class="title ">Change Information</div>
      <div class="spaceManager">
        <div class="title1">First Name</div>
        <input type="text" class="nameinput" placeholder="John" formControlName="firstName" />
        <div class="title2">Last Name</div>
        <input type="text" placeholder="Snow" formControlName="lastName" class="myForm" />

        <div class="gmailfield">
          <div class="title3">Email</div>
          <input class="emailinput" type="text" placeholder="winteriscoming@gmail.com" formControlName="email" />
        </div>
        <div class="img">Download Image</div>
        <input (change)="onFileChanged($event)" type="file" formControlName="picture" formControlName="picture"
          class="myForm" accept=".jpg" />

      </div>

    </div>
    <div class="changeButton">
      <button (click)="onSubmit(  )" type="submit" class="btn aqua-gradient">
        Change
      </button>
    </div>

  </div>
</body>
