.mat-typography {
  position: absolute;
  background: none;
  margin-left: 2%;
  margin-top: 4%;
}
.background{
  background-color: rgba(151, 224, 253, 0.247);
}
.nameinput{
  margin-top: 6%;
  margin-left: -1%;
  width: 68%;
}
.body{
  width: 15%;
}
.person-title{
  font-size: 31px;
  width: 111%;
  margin-top: 4%;
  margin-left: 5%;
  font-family: -webkit-body;
}
.from-body2{
  position: absolute;
}
.exist-title{
  font-size: 31px;
  margin-top: 10%;
  font-family: -webkit-body;
}
.exist-title1{
  font-size: 31px;
  margin-top: 10%;
  font-family: -webkit-body;
}

.exist-title3{
  font-size: 31px;
  margin-top: 13%;
  font-family: -webkit-body;
}
.title{
  font-size: 31px;
  padding: 1%;
  margin-left: 58%;
  font-family: -webkit-body;;
}
.title1{
  font-size: 31px;
  width: 68%;
  margin-left: -1%;
  font-family: -webkit-body;;
}

.title2{
  margin-top: 7%;
  font-size: 31px;
  margin-left: -1%;
  font-family: -webkit-body;;
}

.title3{
  margin-top: 7%;
  font-size: 31px;
  margin-left: -1%;
  font-family: -webkit-body;;
}

.img{
  margin-top: 7%;
  font-size: 31px;
  margin-left: -1%;
  font-family: -webkit-body;
}
.emailinput{
  margin-top: 6%;
  margin-left: -1%;
  width: 68%;
}

.col-sm{
  flex-basis: 2;
}

.myForm{
  margin-top: 4%;
  width: 68%;
}

.btn{
  margin-top: 3%;
  margin-left: 4.2%;
}

.ng-select {
  width: 91%;
  display: inline-flex;
}

.inp2{
  margin-left: 5%;
}

.toast-bottom-right .toast-container{
  background-color: red}

.btn.aqua-gradient {
  transition: .5s;
  color: #000000;
  margin-left: 60%;
}

.spaceManager{
  margin-top: 2%;
  margin-left: 60%;
  display: inline-block;
  width: 23%;
}
.spaceManager2{
  margin-top: 10%;
  margin-left: 110%;
  display: inline-block;
  width: 70%;
}
.image{
  border-color: wheat;
  border-style: dashed;
  position: absolute;
  margin-left: 10%;
  height: 56%;
  width: 89%;
  margin-top: 42%;
}
.fields{
  margin-top: 18%;
  border: 3px solid transparent;
  border-bottom: outset #b81ae3;
}
.picture {
  width: 162%;
  position: absolute;
  margin-left: -96.5%;
  margin-top: -121%;
}
.changeButton{
  margin-top: -0.5%;
}
