<body class="overlay">
  <mat-dialog-content class="mat-typography">
    <h4>Create Product</h4>
    <form [formGroup]="formGroup">
      <div class="from-body">
        <input type="text" class="myForm" placeholder="Name" formControlName="name" />
      </div>
      <div class="from-body">
        <input type="text" class="myForm" placeholder="Price" formControlName="price" />
      </div>
      <div class="from-body">
        <input type="text" class="myForm" placeholder="SKU" formControlName="SKU" />
      </div>
      <div class="from-body">
        <div class="type"> Type Product:
          <select placeholder ="Type" name="typeProduct" formControlName="typeProduct">
            <option value="0">Phone</option>
            <option value="1">Book</option>
            <option value="2">Laptop</option>
            <option value="3">Jeans</option>
          </select>
        </div>
      </div>
      <button (click)="onSubmit()" type="submit" class="btn">
        Create
      </button>
      <button class = "btn"  type="button" mat-dialog-close
      >
        Cancel
      </button>
    </form>
  </mat-dialog-content>
</body>
