.btn {
  color: #ffffff;
  border-radius: 10rem;
  background-color: #976fc4;
  width: 31%;
  margin-top: 5%;
}

.mat-typography {
    position: absolute;
    background: none;
    background: rgba(208, 252, 255, 0.88);
    width: 20%;
    height: 220px;
    margin-left: 40%;
    border: 3px #cccccc solid;
    border-radius: 24px;
    padding: 5px 1px;
    text-align: center;
}
.mat-dialog-container {
  background:none;
  padding: 25px 15px;
}
.mat-typography.content{
  padding: 15px 15px;
}

.overlay {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  padding-top: 10%;
}
.col-sm{
  flex-basis: 2;
}
.credit-card{
  margin-top: 25%;
}
